KNN ALGORITHM ON IRIS DATASET

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

In [2]:
df=pd.read_csv("utf-8''iris(1).csv")
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
df.species.unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [4]:
from sklearn.preprocessing import LabelEncoder
df['species_cat']=LabelEncoder().fit_transform(df.species)
df.head()

   sepal_length  sepal_width  petal_length  petal_width species  species_cat
0           5.1          3.5           1.4          0.2  setosa            0
1           4.9          3.0           1.4          0.2  setosa            0
2           4.7          3.2           1.3          0.2  setosa            0
3           4.6          3.1           1.5          0.2  setosa            0
4           5.0          3.6           1.4          0.2  setosa            0

In [5]:
df.species.value_counts()

versicolor    50
setosa        50
virginica     50
Name: species, dtype: int64

In [7]:
X=df[['sepal_length','sepal_width','petal_length','petal_width']]
y=df['species_cat']
print(X.head())
print(y.head())

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2
0    0
1    0
2    0
3    0
4    0
Name: species_cat, dtype: int32

In [8]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.4,random_state=23)

In [12]:
from sklearn.neighbors import KNeighborsClassifier
model=KNeighborsClassifier()
model.fit(X_train,y_train)
score=100*model.score(X_test,y_test)
print("The acurrracy of the algorithm = {}".format(score))

The acurrracy of the algorithm = 98.33333333333333

CLASSIFICATION REPORT

In [14]:
from sklearn.metrics import classification_report,confusion_matrix
labels=['Setosa','Versicolor','Virginica']
result=model.predict(X_test)
print(classification_report(y_test,result,target_names=labels))
confusion_matrix(y_test,result)

              precision    recall  f1-score   support

      Setosa       1.00      1.00      1.00        21
  Versicolor       0.95      1.00      0.97        18
   Virginica       1.00      0.95      0.98        21

   micro avg       0.98      0.98      0.98        60
   macro avg       0.98      0.98      0.98        60
weighted avg       0.98      0.98      0.98        60

array([[21,  0,  0],
       [ 0, 18,  0],
       [ 0,  1, 20]], dtype=int64)

In [15]:
from helper_code import mlplots as ml

# Call confusion matrix plotting routine
ml.confusion(l_test, predicted, labels, 'KNN Classification')

ModuleNotFoundError: No module named 'helper_code'